<h2><%= @blogger.name %></h2>


<p>Age: <%= @blogger.age %></p>

<p>Bio: <%= @blogger.bio %></p>

<p><%= link_to "Edit Blogger", edit_blogger_path %></p>
<p><%= link_to "Back to All Bloggers", bloggers_path %></p>